<html lang="en">

<head th:replace="fragments/head :: headFragment"></head>

<head>
    <link rel="stylesheet" href="css/report.css">
    <script src="chart/chart.min.js"></script>
    <link rel="stylesheet" href = "css/bookingReport.css">
</head>

<body>
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>

    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>
        <div class="container-fluid">

            <div class="row align-items-center justify-content-between mb-2">
                <div class="col-auto">

                </div>
                <div class="col-auto mb-3">

                </div>
            </div>

            <div class="main-card mb-3">
                <div class="row">
                    <!-- serarch area -->
                    <div class="col-10">
                        <div class="row">
                            <div class="col-2">
                                <label for="textStarDate" class="form-label">From</label>
                                <input type="date" id="textStarDate" class="form-control">
                            </div>
                            <div class="col-2">
                                <label for="textEndDate" class="form-label">To</label>
                                <input type="date" id="textEndDate" class="form-control">
                            </div>
                            <div class="col-8">

                            </div>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-end mt-3">
                        <button class="btn-3d btn-3d-submit mt-3 me-4" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-title="Search" onclick="loadBookingReportTable()">Generate</button>
                        <button class="btn-3d btn-3d-cancel mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-title="Reset" onclick="refresh()"><i class="fa-solid fa-rotate-right me-2"></i>Reset</button>
                    </div>
                </div>
            </div>

            <div class="main-card">
                <div class=" d-flex justify-content-between" style=" border-bottom: 1px solid #e2e8f0;">
                    <h4 class="mb-0 p-3 text-start" style="color:#2c3e50;font-weight:bold;">
                        Booking Performance Report</h4>
                    <button class="btn-3d btn-print mt-3 " id="printButtonBookingReport" onclick="printBookingReport()"><i
                            class="fa-solid fa-print me-3"></i>Print</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover text-center align-middle display nowrap" id="bookingReportTable">
                        <thead>
                            <th>#</th>
                            <th>Booking No</th>
                            <th>Customer</th>
                            <th>Pickup Location</th>
                            <th>Via Location</th>
                            <th>Delivery Location</th>
                            <th>Distance</th>
                            <th>Vehicle Type</th>
                            <th>Vehicle</th>
                            <th>Driver</th>
                            <th>Arrived at pickup datetime</th>
                            <th>Departed from pickup datetime</th>
                            <th>Arrived at delivery datetime</th>
                            <th>Departed from delivery datetime</th>
                            <th>Status</th>

                        </thead>
                        <tbody class="table-group-divider" id="bookingReportTableBody"></tbody>
                    </table>
                    <div class="loader-table" id="loaderId" style="display: none">
                        <div class="spinner-table">
                            <div class="spinner-outer-circle-table"></div>
                            <div class="spinner-inner-circle-table"></div>
                            <div class="spinner-middle-circle-table"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!--    <div th:replace="fragments/loading :: overlayFragment"></div>-->


    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <script src="js/bookingReport.js"></script>
    <script src="js/sidebar.js"></script>
</body>

</html>