<html lang="en">

<head th:replace="fragments/head :: headFragment"></head>

<body>
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>

    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>
        <div class="container-fluid">

            <div class="row align-items-center justify-content-between mb-2">
                <div class="col-auto">
                    <button class="btn-3d btn-3d-add" type="button" data-bs-toggle="modal" id="addButton"
                            data-bs-target="#driverModal" aria-controls="staticBackdrop"><i class="fa-solid fa-plus"></i>
                        Add Driver
                    </button>
                </div>
                <div class="col-auto">

                </div>
            </div>
            <!-- Stats Grid -->
            <div class="stats-grid">
                <div class="stat-card">
                    <div class="stat-title">Total Drivers</div>
                    <div class="stat-value">1,438</div>

                </div>
                <div class="stat-card">
                    <div class="stat-title">Active Drivers</div>
                    <div class="stat-value">485</div>

                </div>
                <div class="stat-card">
                    <div class="stat-title">Suspended Drivers</div>
                    <div class="stat-value">23</div>

                </div>
                <div class="stat-card">
                    <div class="stat-title">Inactive Company</div>
                    <div class="stat-value">50</div>

                </div>
            </div>

            <!-- serarch area -->
            <div class="main-card mb-3">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <label for="" class="form-label">Name</label>
                                <input type="text" name="" id="" placeholder="Search Name" class="form-control">
                            </div>
                            <div class="col-4">
                                <label for="" class="form-label">Transport Name</label>
                                <input type="text" name="" id="" placeholder="Search Transport Name"
                                    class="form-control">
                            </div>
                            <div class="col-4">
                                <label for="" class="form-label">Status</label>
                                <select name="" id="" class="form-select">
                                    <option value="">Select Status</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 mt-3 d-flex justify-content-center align-items-center gap-3">
                        <button class="btn-3d btn-3d-submit mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Search"><i class="fas fa-search me-3"></i> Search</button>
                        <button class="btn-3d btn-3d-cancel mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Reset"><i class="fa-solid fa-rotate-right me-3"></i>Reset</button>
                    </div>
                </div>
            </div>

            <!-- Main Table Card -->
            <div class="main-card">

                <!-- Table Area -->
                <div class="table-responsive">
                    <table class="table " id="driverTable">
                        <thead>
                            <tr class="table">
                                <th>#</th>
                                <th>Driver Reg No</th>
                                <th>Transport Name</th>
                                <th>Driver Name</th>
                                <th>License No</th>
                                <th>Mobile No</th>
                                <th>Status</th>
                                <th style="display: none"></th>
                            </tr>
                        </thead>
                        <tbody id="driverTableBody">

                        </tbody>
                    </table>

                </div>
                <!-- Table Area End -->
            </div>
            <!-- Main Table Card End -->

            <!-- Form Area -->
            <div class="modal fade" id="driverModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Driver Registration</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="refreshDriverForm()"></button>
                        </div>
                        <div class="modal-body">
                            <form id="driverRegistrationForm" onsubmit="return false">
                                <div class="row">
                                    <div class="profile-section">
                                        <div class="p-4">
                                            <!--   Transport Details-->
                                            <div class="mb-4">
                                                <h4 class="section-title">Transport Information</h4>
                                                <div class="row">
                                                    <div class="col-md-12 mb-3">
                                                        <label for="textTransportName" class="form-label">Transport
                                                            Name<span class="text-danger">*</span></label>
                                                        <select name="" id="textTransportName" class="form-select"
                                                            onchange="selectDynamicElementValidator(this,'driver','supplier_id')"
                                                            required>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Driver Deatils -->
                                            <div class="mb-4">
                                                <h4 class="section-title">Driver Information</h4>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textDriverFullName" class="form-label">Full
                                                            Name<span class="text-danger">*</span></label>
                                                        <input type="text" id="textDriverFullName" class="form-control "
                                                            placeholder="Enter Full Name" required>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">Calling Name<span
                                                                class="text-danger">*</span></label>
                                                        <div id="divParentRadio">

                                                        </div>
                                                        <div class="valid-feedback ">
                                                            Valid Calling Name....
                                                        </div>
                                                        <div class="invalid-feedback ">
                                                            Invalid Calling Name...!
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4 mb-3">
                                                        <label for="textDriverNic" class="form-label">Nic<span
                                                                class="text-danger">*</span></label>
                                                        <input type="text" id="textDriverNic" class="form-control "
                                                            placeholder="Enter NIC Number"
                                                            onkeyup="validator(this,'^([6789][0-9]{8}[Vv])|([12][0-9]{11})$','driver','nic')"
                                                            required>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="textDrivingLicenseNo" class="form-label ">Driving
                                                            License
                                                            No<span class="text-danger">*</span></label>
                                                        <input type="text" id="textDrivingLicenseNo"
                                                            class="form-control " placeholder="Enter Driving License No"
                                                            onkeyup="validator(this,'^([A-Z][0-9]{7})$','driver','driving_license_no')"
                                                            required>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="textDrivingLicenseExpireDate"
                                                            class="form-label">Driving
                                                            License Expire Date<span
                                                                class="text-danger">*</span></label>
                                                        <input type="date" id="textDrivingLicenseExpireDate"
                                                            class="form-control"
                                                            onchange="dateElementValidator(this,'driver','driving_license_expire_date')"
                                                            required>
                                                    </div>


                                                    <div class="col-md-6 mb-3">
                                                        <label for="textDriverEmail" class="form-label">Email </label>
                                                        <input type="email" id="textDriverEmail" class="form-control "
                                                            placeholder="Enter Driver Email"
                                                            onkeyup="validator(this,'^([A-Za-z0-9]{0,20})[@]([a-z]{3,8})[.]([a-z]{2,9})$','driver','email')">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textDriverMobileNo" class="form-label">Mobile
                                                            No<span class="text-danger">*</span></label>
                                                        <input type="text" id="textDriverMobileNo" class="form-control "
                                                            placeholder="Enter Driver Mobile No"
                                                            onkeyup="validator(this,'^([0][7][01245678][0-9]{7})$','driver','mobileno')"
                                                            required>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Additional Information -->
                                            <div class="mb-4">
                                                <h4 class="section-title">Additional Information</h4>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">Work Status</label>
                                                        <select id="textDriverStatus" class="form-select"
                                                            onchange="selectDynamicElementValidator(this,'driver','driver_status_id')">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- buttons -->
                                            <div class="mb-4">
                                                <div class="row">
                                                    <div class="col-6">
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-4"></div>
                                                            <div class="col-4 text-start">
                                                                <button type="button" id="deleteButtonFrom"
                                                                    class="btn-3d btn-3d-cancel">
                                                                    <i class="fa-solid fa-xmark me-3"></i>
                                                                    Cancel</button>
                                                            </div>
                                                            <div class="col-4 text-start">
                                                                <button type="button" class="btn-3d btn-3d-update"
                                                                    id="updateButton" onclick="driverFormUpdate()">
                                                                    <i class="fa-solid fa-arrows-rotate me-3"></i>
                                                                    Update</button>

                                                                <button type="submit" id="submitButton"
                                                                    class="btn-3d btn-3d-submit"
                                                                    onclick="driverFormSubmit()">
                                                                    <i class="fa-solid fa-check me-3"></i>
                                                                    Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- buttons -->
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form Area -->

            <!--view  Modal -->
            <div class="modal fade" id="driverViewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div>
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Driver Information</h1>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-dark btn-lg" onclick="customerAgreementFromPrint()">Print</button>
                                <button type="button" class="btn btn-outline-dark btn-lg" data-bs-dismiss="modal" aria-label="Close">Close</button>
                            </div>
                        </div>

                        <div class="modal-body" style="background-color: #f8f9fa">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-center mb-1 mt-1">
                                        <img src="images/user.png" alt="Driver Image" class="img-fluid rounded-circle mb-3"
                                            style="width: 150px; height: 150px;">
                                    </div>
                                    <div class="text-center mb-3">
                                        <h5 class="fw-bold">Driver</h5>
                                        <div class="p-4" style="border:#e5e7eb 1px solid; border-radius: 10px;background-color: #f1f5f9;font-size: 20px;font-weight: 700;color: #686c71;">
                                            <p class="m-0"><span id="viewDriverCallingName"></span> - <span id="viewDriverRegNo"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3" style="justify-content: space-between;display: flex;">
                                        <h5 class="fw-bold">Driver Name:</h5>
                                        <p id="viewDriverFullName">John Doe</p>
                                    </div>
                                    <div class="mb-3" style="justify-content: space-between;display: flex;">
                                        <h5 class="fw-bold">Transport Name:</h5>
                                        <p id="viewTransportName">ABC Transport</p>
                                    </div>
                                    <div class="mb-3"  style="justify-content: space-between;display: flex;">
                                        <h5 class="fw-bold">Nic:</h5>
                                        <p id="viewNic">DL1234567</p>
                                    </div>
                                    <div class="mb-3"  style="justify-content: space-between;display: flex;">
                                        <h5 class="fw-bold">Mobile No:</h5>
                                        <p id="viewMobileNo">0771234567</p>
                                    </div>
                                    <div class="mb-3"  style="justify-content: space-between;display: flex;">
                                        <h5 class="fw-bold">Status:</h5>
                                        <p id="viewStatus">Active</p>
                                    </div>

                                </div>
                        </div>
                            <hr class="mt-2 mb-5" style="border-top: 2px solid #2c3e50;">
                            <div class="row">
                                <div class="col-6 ">
                                    <div class="main-card" style="height: 288px">
                                        <h4 class="mb-4 pb-3" style="border-bottom: 2px solid #2c3e50;margin-bottom: 4px">Driver's License </h4>
                                        <div class="" style="justify-content: space-between;display: flex;border-bottom: 1px solid #eee;">
                                            <h5 class="fw-bold">License Number:</h5>
                                            <p id="viewDrivingLicenseNo">John Doe</p>
                                        </div>
                                        <div class="mb-3 mt-2" style="justify-content: space-between;display: flex">
                                            <h5 class="fw-bold">Expiry Date:</h5>
                                            <p id="viewExpireDate">John Doe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="main-card">
                                        <h4 class="mb-4 pb-3" style="border-bottom: 2px solid #2c3e50;">Supplier Details </h4>
                                        <div class="" style="justify-content: space-between;display: flex; border-bottom: 1px solid #eee;">
                                            <h5 class="fw-bold">Supplier Name:</h5>
                                            <p id="viewSupplierName">John Doe</p>
                                        </div>
                                        <div class=" mt-2" style="justify-content: space-between;display: flex;border-bottom: 1px solid #eee; ">
                                            <h5 class="fw-bold">Address</h5>
                                            <p id="viewSupplierAddress">John Doe</p>
                                        </div>
                                        <div class=" mt-2"  style="justify-content: space-between;display: flex;border-bottom: 1px solid #eee;">
                                            <h5 class="fw-bold">Mobile No</h5>
                                            <p id="viewSupplierMobileNo">John Doe</p>
                                        </div>
                                        <div class=" mt-2" style="justify-content: space-between;display: flex;border-bottom: 1px solid #eee;">
                                            <h5 class="fw-bold">Email</h5>
                                            <p id="viewSupplierEmail">John Doe</p>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
            <!--view  Modal -->
        </div>
    </div>
        </div>
    </div>
    </div>
    <div th:replace="fragments/loading :: overlayFragment"></div>

    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <script src="js/driver.js"></script>
    <script src="js/sidebar.js"></script>


</body>

</html>