<html lang="en">

<head th:replace="fragments/head :: headFragment"></head>

<head>
    <link rel="stylesheet" href="css/employee.css">
</head>

<body>
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>

    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>
        <div class="container-fluid">

            <!-- Title  and add button-->
            <div class="row align-items-center justify-content-between mb-2">
                <div class="col-auto">
                    <button class="btn-3d btn-3d-add" type="button" data-bs-toggle="modal" id="addButton"
                            data-bs-target="#employee" aria-controls="staticBackdrop"><i
                            class="fa-solid fa-user-plus me-3"></i>
                        Add Employee
                    </button>
                </div>
                <div class="col-auto">

                </div>
            </div>

            <!-- Stats Grid -->
            <div class="stats-grid">
                <div class="stat-card">
                    <div class="stat-title">Total Employees</div>
                    <div class="stat-value text-dark" >1,438</div>

                </div>
                <div class="stat-card">
                    <div class="stat-title">Active Employees</div>
                    <div class="stat-value">485</div>

                </div>
                <div class="stat-card">
                    <div class="stat-title">Probation Employees</div>
                    <div class="stat-value">23</div>

                </div>
                <div class="stat-card">
                    <div class="stat-title">Resign Employees</div>
                    <div class="stat-value">50</div>

                </div>
            </div>

            <!-- serarch area -->
            <div class="main-card mb-3">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <label for="" class="form-label">Name</label>
                                <input type="text" name="" id="" placeholder="Search Name" class="form-control">
                            </div>
                            <div class="col-4">
                                <label for="" class="form-label">Department</label>
                                <select name="" id="" class="form-select">
                                    <option value="">Select Department</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="" class="form-label">Designation</label>
                                <select name="" id="" class="form-select">
                                    <option value="">Select Designation</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 mt-3 d-flex justify-content-center align-items-center gap-3">
                        <button class="btn-3d btn-3d-submit mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Search"><i class="fas fa-search me-3"></i> Search</button>
                        <button class="btn-3d btn-3d-cancel mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Reset"><i class="fa-solid fa-rotate-right me-3"></i>Reset</button>
                    </div>
                </div>
            </div>

            <!-- Main Table Card -->
            <div class="main-card">

                <!-- Table -->
                <div class="table-responsive">
                    <table id="employeeTable" class="table">
                        <thead>
                            <th>No</th>
                            <th>Employee No</th>
                            <th>Employee</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>Contact</th>
                            <th>Nic </th>
                            <th>Status</th>
                            <th style="display: none"></th>
                        </thead>
                        <tbody id="employeeTableBody">
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Form Area -->
            <div class="modal fade" id="employee" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Employee Registration</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="refreshForm()"></button>
                        </div>
                        <div class="modal-body">
                            <form id="employeeRegistrationForm" onsubmit="return false">
                                <div class="row">

                                    <div class="p-4">
                                        <!-- Personal Information -->
                                        <div class="mb-4">
                                            <h4 class="section-title">Personal Information</h4>
                                            <div class="row">
                                                <!--                                                    profile photo-->
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <label>Profile Photo:</label>
                                                        <div class="photo-upload-container" id="uploadContainer">
                                                            <input
                                                                onchange="fileValidator(this,'employee','emp_photo',previewImage,photoPreview,uploadContainer)"
                                                                type="file" id="filePhotoEmployee" name="photo"
                                                                accept="image/*">
                                                            <button type="button" class="upload-button mb-4"
                                                                onclick="filePhotoEmployee.click()">
                                                                Choose Photo
                                                            </button>

                                                            <div class="file-info">Supported formats: JPG, PNG, GIF (Max
                                                                5MB)</div>
                                                        </div>

                                                        <div class="photo-preview" id="photoPreview">
                                                            <img id="previewImage" src="" alt="Preview">
                                                            <br>
                                                            <button type="button" class="remove-photo"
                                                                onclick="removePhoto()">Remove Photo</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Full Name<span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="textEmployeeFullName"
                                                        placeholder="Enter Full Name" required>
                                                    <div class="valid-feedback ">
                                                        Valid Full Name....
                                                    </div>
                                                    <div class="invalid-feedback ">
                                                        Invalid Full Name...!
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Calling Name<span
                                                            class="text-danger">*</span></label>
                                                    <div id="divParentRadio">

                                                    </div>
                                                    <div class="valid-feedback ">
                                                        Valid Calling Name....
                                                    </div>
                                                    <div class="invalid-feedback ">
                                                        Invalid Calling Name...!
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label class="form-label">Address<span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="textEmployeeAddress"
                                                        required placeholder="Enter Address"
                                                        onkeyup="validator(this,'^([A-Za-z0-9/]{0,20}[\\s])+([A-Za-z0-9]{2,20})$','employee','address')">
                                                    <div class="valid-feedback ">
                                                        Valid Address....
                                                    </div>
                                                    <div class="invalid-feedback ">
                                                        Invalid Address...!
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Nic<span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="textEmployeeNic"
                                                        required placeholder="Enter NIC"
                                                        onkeyup="validator(this,'^([6789][0-9]{8}[Vv])|([12][0-9]{11})$','employee','nic')">

                                                    <div class="valid-feedback ">
                                                        Valid Nic....
                                                    </div>
                                                    <div class="invalid-feedback ">
                                                        Invalid Nic...!
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Civil Status<span
                                                            class="text-danger">*</span></label>
                                                    <select id="selectCivilStatus" class="form-select" required
                                                        onchange="selectElementValidator(this,'employee','civil_status')">
                                                        <option selected disabled>Select Civil Status</option>
                                                        <option value="single">Single</option>
                                                        <option value="married">Married</option>
                                                    </select>
                                                    <div class="valid-feedback ">
                                                        Valid Civil Status....
                                                    </div>
                                                    <div class="invalid-feedback ">
                                                        Invalid Civil Status...!
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Date of Birth<span
                                                            class="text-danger">*</span></label>
                                                    <input type="date" id="dteDOB" class="form-control" required
                                                        onchange="dateElementValidator(this,'employee','dateofbirth')">
                                                    <div class="valid-feedback ">
                                                        Valid Date of Birth....
                                                    </div>
                                                    <div class="invalid-feedback ">
                                                        Invalid Date of Birth...!
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mt-5">
                                                    <label class="form-label me-3">Gender <span
                                                            class="text-danger">*</span></label>
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" value="Male" name="gender" required
                                                            class="form-check-input" id="radioMale"
                                                            onchange="employee.gender =this.value">
                                                        <label for="radioMale" class="form-check-label ">Male</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" value="Female" name="gender" required
                                                            class="form-check-input" id="radioFemale"
                                                            onchange="employee.gender =this.value">
                                                        <label for="radioFemale" class="form-check-label">Female</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Email<span
                                                            class="text-danger">*</span></label>
                                                    <input type="email" class="form-control" id="textEmployeeEmail"
                                                        placeholder="Enter Email" required
                                                        onkeyup="validator(this,'^([A-Za-z0-9]{0,20})[@]([a-z]{3,8})[.]([a-z]{2,9})$','employee','email')">
                                                    <div class="valid-feedback ">
                                                        Valid Email....
                                                    </div>
                                                    <div class="invalid-feedback ">
                                                        Invalid Email...!
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Mobile No<span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="textEmployeeMobileNo"
                                                        placeholder="Enter Mobile No" required
                                                        onkeyup="validator(this,'^([0][7][01245678][0-9]{7})$','employee','mobileno')">
                                                    <div class="valid-feedback ">
                                                        Valid Full Name....
                                                    </div>
                                                    <div class="invalid-feedback ">
                                                        Invalid Full Name...!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Professional Details -->
                                        <div class="tab mb-4" id="professionalDeails">
                                            <h4 class="section-title">Professional Details</h4>
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Department<span
                                                            class="text-danger">*</span></label>
                                                    <select id="textEmployeeDepartment" class="form-select"
                                                        onchange="selectDynamicElementValidator(this,'employee','department_id')">
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Designation<span
                                                            class="text-danger">*</span></label>
                                                    <select id="textEmployeeDesignation" class="form-select"
                                                        onchange="selectDynamicElementValidator(this,'employee','designation_id')">
                                                    </select>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Join Date<span
                                                            class="text-danger">*</span></label>
                                                    <input type="date" class="form-control" id="textJoinDate" required
                                                        onchange="dateElementValidator(this,'employee','join_date')">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Additional Information -->
                                        <div id="additionalInformation">
                                            <h4 class="section-title">Additional Information</h4>
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Work Status<span
                                                            class="text-danger">*</span></label>
                                                    <select id="textEmployeeStatus" class="form-select"
                                                        onchange="selectDynamicElementValidator(this,'employee','employee_status_id')">
                                                    </select>
                                                    <div class="valid-feedback ">

                                                    </div>
                                                    <div class="invalid-feedback ">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- buttons -->
                                        <div class="mb-4">
                                            <div class="row">
                                                <div class="col-6">
                                                </div>
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-4"></div>
                                                        <div class="col-4 text-start">
                                                            <button type="button" id="deleteButtonFrom"
                                                                class="btn-3d btn-3d-cancel" onclick="refreshForm()">
                                                                <i class="fa-solid fa-xmark me-3"></i>
                                                                Cancel</button>
                                                        </div>
                                                        <div class="col-4 text-start">
                                                            <button type="button" class="btn-3d btn-3d-update"
                                                                id="updateButton" onclick="employeeFormUpdate()">
                                                                <i class="fa-solid fa-arrows-rotate me-3"></i>
                                                                Update</button>

                                                            <button type="submit" id="submitButton"
                                                                class="btn-3d btn-3d-submit"
                                                                onclick="employeeFormSubmit()">
                                                                <i class="fa-solid fa-check me-3"></i>
                                                                Submit</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- buttons -->

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form Area -->
        </div>
        <!-- Employee View Form -->
        <div class="modal fade" id="employeeView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-8">
                            <h3 class="mb-1" id="titleName"></h3>
                            <p class="mb-0"><span id="titleDesignation"></span> | <span id="titleDepartment"></span></p>
                        </div>
                        <div class="text-end d-flex align-items-right">
                            <button class="btn btn-outline-dark btn-lg" onclick="employeeFromPrint()">
                                <i class="bi bi-download"></i> Print
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <!-- Profile Overview -->
                        <div class="row p-4" id="printPreivew">
                            <div class="col-md-3 text-center">
                                <img src="/css/WhatsApp Image 2024-10-12 at 14.52.27_a6b58bff.jpg"
                                    class="profile-avatar-view-form mb-3">
                                <h5 id="picName"></h5>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="profile-stat-card-form">
                                            <h6 class="text-muted">Department</h6>
                                            <h5 id="cardDepartment"></h5>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="profile-stat-card-form">
                                            <h6 class="text-muted">Position</h6>
                                            <h5 id="cardDesignation">
                                                </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="profile-stat-card-form">
                                            <h6 class="text-muted">Join Date</h6>
                                            <h5 id="cardJoinDate"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid px-4">
                            <ul class="nav nav-tabs" id="profileTabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="personal-tab" data-bs-toggle="tab"
                                        data-bs-target="#personal" type="button">Personal Info</button>
                                </li>
                            </ul>

                            <div class="tab-content mt-4" id="profileTabsContent">
                                <!-- Personal Info Tab -->
                                <div class="tab-pane fade show active" id="personal">
                                    <div class="profile-section-view">
                                        <h5>Personal Details</h5>
                                        <div class="row">
                                            <div class="col-md-6 mt-2">
                                                <p><strong>Full Name: </strong><span id="dataFullName"> </span> </p>
                                                <p><strong>Calling Name: </strong> <span id="dataCallingName"> </span>
                                                </p>
                                                <p><strong>Address: </strong><span id="dataAddress"> </span></p>
                                                <p><strong>Nic: </strong><span id="dataNic"> </span></p>
                                                <p><strong>Date of Birth: </strong> <span id="dataDob"> </span></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p><strong>Gender: </strong> <span id="dataGender"> </span></p>
                                                <p><strong>Marital Status: </strong><span id="dataCivilStatus"> </span>
                                                </p>
                                                <p><strong>Email: </strong><span id="dataEmail"> </span></p>
                                                <p><strong>Mobile No: </strong><span id="dataMobileNo"> </span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Employee View Form -->
    </div>
    </div>
    <div th:replace="fragments/loading :: overlayFragment"></div>


    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <script src="js/employee.js"></script>
    <script src="js/sidebar.js"></script>
</body>

</html>