<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TMS</title>
  <link rel="icon" href="images/tab-logo.png">

  <link rel=stylesheet href="/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.css">
  <link rel="stylesheet" href="/bootstrap/bootstrap-5.2.3/css/bootstrap.min.css">

  <script src="bootstrap/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
  <script src="bootstrap/bootstrap-5.2.3/js/bootstrap.min.js"></script>
  <script src="/sweetalert2/dist/sweetalert2.all.min.js"></script>
  <link rel="stylesheet" href="/css/loading.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/common.css">
  <script defer src="/commenjs/loading.js" ></script>
  <script src="jquery/jquery-3.7.1.min.js"></script>

</head>

<body>
<div class="container-fluid d-flex">
  <!-- left side -->
  <div class="image-section">
    <!-- short  video -->
    <img src="/images/Forgotpassword.png" alt="Forgot Password" class="image-background">
    <div class="image-content" align="center">
    </div>
  </div>

  <!-- right side -->
  <div class="login-section">
    <div class="login-box">
      <!-- login form header ->(logo)  -->
      <div class="login-header">
        <h1>Reset Password</h1>
        <p>Enter your email address and we'll send you a OTP Code to your email.</p>
      </div>

      <!-- Email Enter Form -->
      <div id="emailFormDiv">
        <form  class="sign-in-form" id="emailForm" onsubmit="return false;">
          <div class="form-group">
            <label for="textEmail">Email Address</label>
            <div class="input-group">
              <input type="text" id="textEmail" placeholder="Enter Email" onkeyup="user.email= this.value" class="form-control">
            </div>
          </div>

          <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
            <button class="btn-3d btn-3d-submit" onclick="sendOtp()">Send OTP</button>
          </div>
        </form>
      </div>

      <!--      Otp Enter form-->
      <div id="otpFormDiv" style="display: none;">
        <form  class="sign-in-form"  id="otpForm" onsubmit="return false;">
          <div class="form-group">
            <label for="textEmail">Enter OTP No</label>
            <div class="input-group">
              <input type="text" id="textOtp" placeholder="Enter OTP No" required  onkeyup="user.otp= this.value " >
            </div>
          </div>

          <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
            <button class="btn-3d btn-3d-submit" onclick="EnteredOtpButton()">Confirm</button>
          </div>
        </form>
      </div>

      <!--      password change form-->
      <div id="passwordChangeDiv" style="display: none;">
        <form  class="sign-in-form"  id="passwordChangeForm" onsubmit="return false;">
          <div class="form-group">
            <label for="textEmail">New Password</label>
            <div class="input-group">
              <input type="password" id="textNewPassword" placeholder="Enter New Password" required  onkeyup="user.password= this.value " >
            </div>
          </div>
          <div class="form-group">
            <label for="textEmail">Confirm Password</label>
            <div class="input-group">
              <input type="password" id="textRetypePassword" placeholder="Confirm Password" required  onkeyup="retypePasswordValidator()" >
            </div>
          </div>

          <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
            <button class="btn-3d btn-3d-submit" onclick="submitNewPassword()">Submit</button>
          </div>
        </form>
      </div>

      <div class="d-flex align-items-center justify-content-center" style="border-bottom: 2px solid #ccc; width: 100%; text-align: center; height: 40px;margin-bottom: 50px">
        <span style="background: #fff; padding: 0 12px; position: relative; top: 15px;">Or</span>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-3">
        <button class="btn-3d btn-3d-cancel" onclick="window.location.href='/login'">Back to Login</button>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/loading :: overlayFragment"></div>

<script src="/commenjs/reusabal.js"></script>
<script src="js/forgetPassword.js"></script>
</body>

</html>