<!DOCTYPE html>
<html lang="en">


<head th:replace="fragments/head :: headFragment"></head>

<head>
    <link rel="stylesheet" href="css/package.css">

</head>

<body>
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>

    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>
        <div class="container-fluid">

            <!-- header -->
            <div class="row align-items-center justify-content-between mb-2">
                <div class="col-auto">
                    <button class="btn-3d btn-3d-add" type="button" data-bs-toggle="modal" id="addButton"
                            data-bs-target="#packageFormModal" aria-controls="staticBackdrop"><i
                            class="fa-solid fa-plus me-3"></i>
                        Add Package
                    </button>
                </div>
                <div class="col-auto">

                </div>
            </div>
            <!-- header -->

            <!-- serarch area -->
            <div class="main-card mb-3">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <label for="" class="form-label">Name</label>
                                <input type="text" name="" id="" placeholder="Search Name" class="form-control">
                            </div>
                            <div class="col-4">
                                <label for="" class="form-label">Vehicle Type</label>
                                <select name="" id="" class="form-select">
                                    <option value="">Select Vehicle Type</option>
                                </select>
                            </div>
                            <div class="col-4 text-end">
                                <label for="" class="form-label">Status</label>
                                <select name="" id="" class="form-select">
                                    <option value="">Select Status</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 mt-3 d-flex justify-content-center align-items-center gap-3">
                        <button class="btn-3d btn-3d-submit mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Search"><i class="fas fa-search me-3"></i> Search</button>
                        <button class="btn-3d btn-3d-cancel mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Reset"><i class="fa-solid fa-rotate-right me-3"></i>Reset</button>
                    </div>
                </div>
            </div>
            <!-- search area end -->

            <!--packages container-->
            <div id="package-container">
            </div>
            <!--packages container-->

        </div>
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="packageFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Package</h1>
                    <div class="col-10 text-end">
                        <button class="btn btn-search mt-1" id="printButton" onclick="packagePrinrt()"><i
                                class="fa-solid fa-print"></i></button>
                        <button class="btn btn-reset mt-1" id="deleteButton" onclick="packageDelete()"><i
                                class="fa-solid fa-trash"></i></button>
                    </div>
                    <button type="button" class="btn-close ms-1" data-bs-dismiss="modal" aria-label="Close"
                        onclick="refereshPackageForm()"></button>
                </div>
                <div class="modal-body">

                    <form id="packageForm" onsubmit="return false">
                        <div class="p-4">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="packageType" class="form-label">Package Type</label>
                                    <select name="" id="packageType" class="form-select"
                                        onchange="selectElementValidator(this,'Fix Rate','package_type')">
                                        <option value="" selected disabled>Select Package Type</option>
                                        <option value="Floating Rate">Floating Rate</option>
                                        <option value="Fix Rate">Fix Rate</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="packageDistance" class="form-label">Distance (Km)</label>
                                    <input type="text" name="" id="packageDistance" placeholder="Enter Distance"
                                        class="form-control"
                                        onkeyup="validator(this,'^([0-9]{1,11})$','package','distance');generatePackageName()">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="textPackageName" class="form-label">Package Name </label>
                                    <input type="text" name="" id="textPackageName" placeholder="Enter Distance"
                                        class="form-control" readonly>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="packageCustomerCharge" class="form-label">Package Charge For Customer
                                        (Rs.)</label>
                                    <input type="text" name="" id="packageCustomerCharge"
                                        placeholder="Enter Package Charge" class="form-control"
                                        onkeyup="validator(this,'^([0-9]{1,11})$','package','package_charge_cus')">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="packageSupplierCharge" class="form-label">Package Charge for Supplier
                                        (Rs.)</label>
                                    <input type="text" name="" id="packageSupplierCharge"
                                        placeholder="Enter Package Charge" class="form-control"
                                        onkeyup="validator(this,'^([0-9]{1,11})$','package','package_charge_sup')">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="packageAdditonalKmChargeCustomer" class="form-label">Additinal KM Charge
                                        for Customer (Rs.)</label>
                                    <input type="text" name="" id="packageAdditonalKmChargeCustomer"
                                        placeholder="Enter Additinal Km Charge " class="form-control"
                                        onkeyup="validator(this,'^([0-9]{1,11})$','package','additinal_km_charge_cus')">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="packageAdditonalKmChargeSupplier" class="form-label">Additinal KM Charge
                                        for Supplier (Rs.)</label>
                                    <input type="text" name="" id="packageAdditonalKmChargeSupplier"
                                        placeholder="Enter Additinal Km Charge" class="form-control"
                                        onkeyup="validator(this,'^([0-9]{1,11})$','package','additinal_km_charge_sup')">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="selectPackageVehicleType" class="form-label">Vehicle Type</label>
                                    <select name="" id="selectPackageVehicleType" class="form-select"
                                        onchange="selectDynamicElementValidator(this,'package','vehicle_type_id')"
                                        required>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="selectPackageStatus" class="form-label">Status</label>
                                    <select name="" id="selectPackageStatus" class="form-select"
                                        onchange="selectDynamicElementValidator(this,'package','package_status_id')"
                                        required>
                                    </select>
                                </div>
                            </div>
                            <!-- buttons -->
                            <div class="mb-4">
                                <div class="row">
                                    <div class="col-6">
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-5 text-start">
                                                <button type="button" id="deleteButtonFrom" class="btn-3d btn-3d-cancel"
                                                    onclick="refereshPackageForm()">
                                                    <i class="fa-solid fa-xmark me-3"></i>
                                                    Cancel</button>
                                            </div>
                                            <div class="col-5 text-start">
                                                <button type="button" class="btn-3d btn-3d-update" id="updateButton"
                                                    onclick="packageFormUpdate()">
                                                    <i class="fa-solid fa-arrows-rotate me-3"></i>
                                                    Update</button>

                                                <button type="submit" id="submitButton" class="btn-3d btn-3d-submit"
                                                    onclick="packageFormSubmit()">
                                                    <i class="fa-solid fa-check me-3"></i>
                                                    Submit</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- buttons -->

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div th:replace="fragments/loading :: overlayFragment"></div>

    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <script src="js/package.js"></script>
    <script src="js/sidebar.js"></script>
</body>

</html>