<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: headFragment"></head>

<head>
    <link rel="stylesheet" href="css/privilage.css">
</head>

<body>

    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>

    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>
        <div class="container-fluid">

            <!-- Title  and add button-->
            <div class="row align-items-center justify-content-between mb-2">
                <div class="col-auto">
                    <button type="button" class="btn-3d btn-3d-add" data-bs-toggle="modal"
                            data-bs-target="#privilageForm">
                        <i class="fa-solid fa-plus me-3"></i> Add Privilege
                    </button>
                </div>
                <div class="col-auto">
                    <!-- Button trigger modal -->

                </div>
            </div>

            <!-- Table head area -->
            <div class="main-card">

                <!-- Table -->
                <div class="table-responsive">
                    <table id="privilageTable" class="table">
                        <thead>
                            <th>#</th>
                            <th>Role</th>
                            <th>Module</th>
                            <th>Select</th>
                            <th>Insert</th>
                            <th>Update</th>
                            <th>Delete</th>
                            <th style="display: none"></th>
                        </thead>
                        <tbody id="privilageTableBody">
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal form -->
            <div class="modal fade" id="privilageForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Privilege Management</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="refreshForm()"></button>
                        </div>
                        <div class="modal-body">
                            <form id="userRegistrationForm" onsubmit="return false">
                                <div class="profile-section">
                                    <div class="p-4">
                                        <!-- Privilage details -->
                                        <div class="mb-4">
                                            <h4 class="section-title">Privilege Information</h4>
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Role</label>
                                                    <select id="privilageRole" class="form-select" required
                                                        onchange="selectDynamicElementValidator(this,'privilage','role_id',)"></select>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label">Module</label>
                                                    <select id="privilageModule" class="form-select" required
                                                        onchange="selectDynamicElementValidator(this,'privilage','module_id',)"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Acces Area -->
                                        <div class="mb-4">
                                            <h4 class="section-title">Access Details</h4>
                                            <!-- privilage select -->
                                            <div class="card-privi mt-2 p-2">
                                                <div class="row">
                                                    <div class="col-md-9 mb-3 mt-2">
                                                        <h6 class="fw-bold mb-0">Select Permission</h6>
                                                        <small><span class="mt-0">Allow user to view and read
                                                                data</span></small>
                                                    </div>
                                                    <div class="col-md-3 mb-3 p-2">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input me-1" type="checkbox"
                                                                id="chkBoxSelect" onchange="
                                                            if (this.checked) {
                                                                privilage.privi_select = true;
                                                                labelSelect.innerText = 'Access Granted';
                                                            } else {
                                                                privilage.privi_select = false;
                                                                labelSelect.innerText = 'Access Denied';
                                                            }">
                                                            <label class="form-check-label mt-1" for="chkBoxSelect"
                                                                id="labelSelect">Granted</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- privilage select -->
                                            <div class="card-privi mt-2 p-2">
                                                <div class="row">
                                                    <div class="col-md-9 mb-3 mt-2">
                                                        <h6 class="fw-bold mb-0">Insert Permission</h6>
                                                        <small><span class="mt-0">Allow user to add new
                                                                records</span></small>
                                                    </div>
                                                    <div class="col-md-3 mb-3 p-2">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input me-1" type="checkbox"
                                                                id="chkBoxInsert" onchange="
                                                            if (this.checked) {
                                                                privilage.privi_insert = true;
                                                                labelInsert.innerText = 'Access Granted';
                                                            } else {
                                                                privilage.privi_insert = false;
                                                                labelInsert.innerText = 'Access Denied';
                                                            }">
                                                            <label class="form-check-label mt-1" for="chkBoxInsert"
                                                                id="labelInsert">Access Granted</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- privilage select -->
                                            <div class="card-privi mt-2 p-2">
                                                <div class="row">
                                                    <div class="col-md-9 mb-3 mt-2">
                                                        <h6 class="fw-bold mb-0">Update Permission</h6>
                                                        <small><span class="mt-0">Allow user to modify existing
                                                                data</span></small>
                                                    </div>
                                                    <div class="col-md-3 mb-3 p-2">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input me-1" type="checkbox"
                                                                id="chkBoxUpdate" onchange="
                                                            if (this.checked) {
                                                                privilage.privi_update = true;
                                                                labelUpdate.innerText = 'Access Granted';
                                                            } else {
                                                                privilage.privi_update = false;
                                                                labelUpdate.innerText = 'Access Denied';
                                                            }">
                                                            <label class="form-check-label mt-1" for="chkBoxUpdate"
                                                                id="labelUpdate">Access Granted</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- privilage select -->
                                            <div class="card-privi mt-2 p-2">
                                                <div class="row">
                                                    <div class="col-md-9 mb-3 mt-2">
                                                        <h6 class="fw-bold mb-0">Delete Permission</h6>
                                                        <small><span class="mt-0">Allow user to remove
                                                                records</span></small>
                                                    </div>
                                                    <div class="col-md-3 mb-3 p-2">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input me-1" type="checkbox"
                                                                id="chkBoxDelete" onchange="
                                                            if (this.checked) {
                                                                privilage.privi_delete = true;
                                                                labelDelete.innerText = 'Access Granted';
                                                            } else {
                                                                privilage.privi_delete = false;
                                                                labelDelete.innerText = 'Access Denied';
                                                            }">
                                                            <label class="form-check-label mt-1" for="chkBoxDelete"
                                                                id="labelDelete">Access Granted</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- buttons -->
                                        <div class="mb-4">
                                            <div class="row">
                                                <div class="col-6">
                                                </div>
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-4"></div>
                                                        <div class="col-4 text-start">
                                                            <button type="button" id="deleteButtonFrom"
                                                                class="btn-3d btn-3d-cancel" onclick="refreshForm()">
                                                                <i class="fa-solid fa-xmark me-3"></i>
                                                                Cancel</button>
                                                        </div>
                                                        <div class="col-4 text-start">
                                                            <button type="button" class="btn-3d btn-3d-update"
                                                                id="updateButton" onclick="privilageFormUpdate()">
                                                                <i class="fa-solid fa-arrows-rotate me-3"></i>
                                                                Update</button>

                                                            <button type="submit" id="submitButton"
                                                                class="btn-3d btn-3d-submit"
                                                                onclick="privilageFormSubmit()">
                                                                <i class="fa-solid fa-check me-3"></i>
                                                                Submit</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- buttons -->

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <div th:replace="fragments/loading :: overlayFragment"></div>

    <!-- Modal -->
    <div class="modal fade" id="privilageView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Access Privileges</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <th>Role :</th>
                            <td id="tdRole"></td>
                        </tr>
                        <tr>
                            <th>Module :</th>
                            <td id="tdModule"></td>
                        </tr>
                        <tr>
                            <th>Select Permission :</th>
                            <td id="tdSelect"></td>
                        </tr>
                        <tr>
                            <th>Insert Permission :</th>
                            <td id="tdInsert"></td>
                        </tr>
                        <tr>
                            <th>Update Permission :</th>
                            <td id="tdUpdate"></td>
                        </tr>
                        <tr>
                            <th>Delete Permission :</th>
                            <td id="tdDelete"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <script src="js/privilage.js"></script>
    <script src="js/sidebar.js"></script>
</body>


</html>