<html lang="en">

<head th:replace="fragments/head :: headFragment"></head>

<head>
    <link rel="stylesheet" href="css/employee.css">
    <script src="chart/chart.min.js"></script>
</head>

<body>
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>

    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>
        <div class="container-fluid">
            <!-- serarch area -->
            <div class="main-card mb-3">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                            </div>
                            <div class="col-4">
                                <label  class="form-label">Vehicle Type</label>
                                <select name="" class="form-select" id="selectVehicleType" >
                                    <option value="">Select Vehicle Type</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label class="form-label">Customer</label>
                                <select name="" class="form-select" id="selectCustomerName" >
                                    <option value="">Select Customer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mt-3 d-flex justify-content-center align-items-center gap-3">
                        <button class="btn-3d btn-3d-submit mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Search" onclick="currentmonthvehiclerevenue()"><i class="fas fa-search me-3"></i> Search</button>
                        <button class="btn-3d btn-3d-cancel mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Reset"><i class="fa-solid fa-rotate-right me-3"></i>Reset</button>
                    </div>

                </div>
            </div>
            <!-- head area  -->
            <div class="row">
                <div class="col-md-6">
                    <div class="main-card">
                        <h2 class="fw-bold fst-italic text-decoration-underline text-center text-uppercase mb-4 ">
                            Current Month Revenue</h2>
                        <div id="chartContainer">
                            <canvas id="myChart"></canvas>
                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="main-card">
                        <div class="table-responsive">
                            <div style="height: 500px; overflow-y: auto;">
                                <table class="table table-hover " id="revenueCurrentMonthTable" style="position: sticky">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Vehicle No</th>
                                        <th>Total Distance</th>
                                    </tr>
                                    </thead>
                                    <tbody id="revenueCurrentMonthTableBody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
        </div>
    </div>
        <div th:replace="fragments/loading :: overlayFragment"></div>


    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <script src="js/revenue.js"></script>
    <script src="js/sidebar.js"></script>

</body>

</html>