<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: headFragment"></head>

<body>
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>

    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>
        <div class="container-fluid">

            <!-- header -->
            <div class="row align-items-center justify-content-between mb-2">
                <div class="col-auto">
                </div>
                <div class="col-auto">

                </div>
            </div>
            <!-- header -->

            <!-- Main Table Card -->
            <div class="main-card">
                <!-- Table Area -->
                <div class="table-responsive">
                    <table class="table table-hover " id="supplierAgreementApprovalTable">
                        <thead>
                            <tr class="table">
                                <th>No</th>
                                <th>Agreement No</th>
                                <th>Supplier Name</span></th>
                                <th>Agreement Type</th>
                                <th>Rate</th>
                                <th>Agreement End Date</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody id="supplierAgreementAprrovalTableBody">
                        </tbody>
                    </table>
                </div>
                <!-- Table Area End -->
            </div>
            <!-- Mani Table Card end -->

            <!-- Modal -->
            <div class="modal fade" id="supplierAgreementAprrovalModal" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Approval</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <form onsubmit="return false">
                                <!-- tab list -->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="supplier-tab" data-bs-toggle="tab"
                                            data-bs-target="#supplier-tab-pane" type="button" role="tab"
                                            aria-controls="supplier-tab-pane" aria-selected="true">Supplier
                                            Details</button>
                                    </li>

                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="vehicle-tab" data-bs-toggle="tab"
                                            data-bs-target="#vehicle-tab-pane" type="button" role="tab"
                                            aria-controls="vehicle-tab-pane" aria-selected="false">Vehicle
                                            Deatils</button>
                                    </li>

                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="package-tab" data-bs-toggle="tab"
                                            data-bs-target="#package-tab-pane" type="button" role="tab"
                                            aria-controls="package-tab-pane" aria-selected="false">Package
                                            Deatils</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="agreement-tab" data-bs-toggle="tab"
                                            data-bs-target="#agreement-tab-pane" type="button" role="tab"
                                            aria-controls="agreement-tab-pane" aria-selected="false">Agreement
                                            Deatils</button>
                                    </li>
                                </ul>
                                <!-- tablist end -->

                                <!-- tab data list -->
                                <div class="tab-content" id="myTabContent">

                                    <!-- supplier Details -->
                                    <div class="tab-pane fade show active" id="supplier-tab-pane" role="tabpanel"
                                        aria-labelledby="supplier-tab" tabindex="0">
                                        <div class="profile-section">

                                            <div class="row ">
                                                <table class="table table-hover">
                                                    <tbody>

                                                        <tr>
                                                            <th class="fs-6"> Supplier Name:</th>
                                                            <td id="dataSupplierName"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Supplier Email:</th>
                                                            <td id="dataSupplierEmail"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Supplier Address:</th>
                                                            <td id="dataSupplierAddress"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Transport Name:</th>
                                                            <td id="dataTransportName"></td>
                                                        </tr>

                                                        <tr>
                                                            <th class="fs-6">Supplier Mobile:</th>
                                                            <td id="dataSupplierMobile"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Vehicle Details -->
                                    <div class="tab-pane fade show " id="vehicle-tab-pane" role="tabpanel"
                                        aria-labelledby="vehicle-tab" tabindex="0">
                                        <div class="profile-section">

                                            <div class="row ">
                                                <table class="table table-hover">
                                                    <tbody>

                                                        <tr>
                                                            <th class="fs-6"> Vehicle No:</th>
                                                            <td id="dataVehicleNo"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Vehicle Type :</th>
                                                            <td id="dataVehicleTypeOfVehicle"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Make year:</th>
                                                            <td id="dataMakeYear"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Insurance Expire Date:</th>
                                                            <td id="dataInsuranceExpireDate"></td>
                                                        </tr>

                                                        <tr>
                                                            <th class="fs-6">Revenue License Expire Date:</th>
                                                            <td id="dataRevenueLicenseExpireDate"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- package details -->
                                    <div class="tab-pane fade show " id="package-tab-pane" role="tabpanel"
                                        aria-labelledby="package-tab" tabindex="0">
                                        <div class="profile-section">
                                            <div class="row">
                                                <table class="table table-hover " id="supplierAgreementAprrovalTable">
                                                    <tbody>
                                                        <tr>
                                                            <th class="fs-6">Package Name:</th>
                                                            <td id="dataPackageName"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Vehicle Type :</th>
                                                            <td id="dataVehicleType"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Customer Rate (Rs.): </th>
                                                            <td id="dataCustomerRate"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Supplier Rate (Rs.):</th>
                                                            <td id="dataSupplierRate"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Distance (Km):</th>
                                                            <td id="dataDistance"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Additional Km Charge(Customer):</th>
                                                            <td id="dataAdditionalKMChargeCustomer"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Additional Km Charge(Supplier):</th>
                                                            <td id="dataAdditionalKMChargeSupplier"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Agreement details -->
                                    <div class="tab-pane fade show " id="agreement-tab-pane" role="tabpanel"
                                        aria-labelledby="agreement-tab" tabindex="0">
                                        <div class="profile-section">
                                            <div class="row">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <th class="fs-6">Agreement Registration No:</th>
                                                            <td id="dataAgreementRegNo"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Agreement Start Date :</th>
                                                            <td id="dataAgreementStartDate"> </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Agreement Period:</th>
                                                            <td id="dataAgreementPeriod"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6"> Agreement End Date:</th>
                                                            <td id="dataEndDate"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6">Agreement Charge (Rs):</th>
                                                            <td id="dataAgreementCharge"></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="fs-6"> Additional Charge (Rs):</th>
                                                            <td id="dataAdditionalChargersSupplier"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <div class="col">
                                        <label class="form-label">Approve Note</label>
                                        <textarea id="supplierAgreementApprovalNote" class="form-control"
                                            onkeyup="editOb.approval_note = this.value"></textarea>
                                    </div>
                                </div>
                                <!-- buttons -->
                                <div class="mb-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="button" class="btn-3d btn-3d-cancel" data-bs-dismiss="modal"
                                                aria-label="Close" onclick="refreshCustomerForm()">Close</button>
                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-4"></div>
                                                <div class="col-4 text-start">
                                                    <button type="button" id="deleteButtonFrom"
                                                        class="btn-3d btn-3d-cancel"
                                                        onclick="supplierAgreementRejectButton()">
                                                        <i class="fa-solid fa-xmark me-3"></i>
                                                        Reject</button>
                                                </div>
                                                <div class="col-4 text-start">
                                                    <button type="submit" id="submitButton" class="btn-3d btn-3d-submit"
                                                        onclick="supplierAgreementAprrovalButton()">
                                                        <i class="fa-solid fa-check me-3"></i>
                                                        Approve</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- buttons -->
                            </form>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <div th:replace="fragments/loading :: overlayFragment"></div>

    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="js/supplierAgreementApproval.js"></script>
    <script src="js/sidebar.js"></script>
</body>

</html>