<html lang="en">

<head th:replace="fragments/head :: headFragment"></head>

<body>
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>

    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>
        <div class="container-fluid">

            <div class="row align-items-center justify-content-between mb-2">
                <div class="col-auto">
                    <button class="btn-3d btn-3d-add" type="button" data-bs-toggle="modal" id="addButton"
                            data-bs-target="#driverModal" aria-controls="staticBackdrop"><i class="fa-solid fa-plus"></i>
                        Add Payment
                    </button>
                </div>
                <div class="col-auto">

                </div>
            </div>

            <!-- serarch area -->
            <div class="main-card mb-3">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <label  class="form-label">Name</label>
                                <input type="text" name=""  placeholder="Search Name" class="form-control">
                            </div>
                            <div class="col-4">
                                <label  class="form-label">Transport Name</label>
                                <input type="text" name=""  placeholder="Search Transport Name"
                                    class="form-control">
                            </div>
                            <div class="col-4">
                                <label  class="form-label">Status</label>
                                <select name=""  class="form-select">
                                    <option value="">Select Status</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 mt-3 d-flex justify-content-center align-items-center gap-3">
                        <button class="btn-3d btn-3d-submit mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Search"><i class="fas fa-search me-3"></i> Search</button>
                        <button class="btn-3d btn-3d-cancel mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Reset"><i class="fa-solid fa-rotate-right me-3"></i>Reset</button>
                    </div>
                </div>
            </div>

            <!-- Main Table Card -->
            <div class="main-card">

                <!-- Table Area -->
                <div class="table-responsive">
                    <table class="table " id="supplierPaymentTable">
                        <thead>
                        <tr>
                        <th>#</th>
                        <th>Bill No</th>
                        <th>Supplier Name</th>
                        <th>Due Amount</th>
                        <th>Total Amount</th>
                        <th>Paid Amount</th>
                        <th>Balance Amount</th>
                        </tr>
                        </thead>
                        <tbody id="supplierPaymentTableBody">

                        </tbody>
                    </table>

                </div>
                <!-- Table Area End -->
            </div>
            <!-- Main Table Card End -->

            <!-- Form Area -->
            <div class="modal fade" id="driverModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" >Supplier Payments</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="refreshSupplierPaymentForm()"></button>
                        </div>
                        <div class="modal-body">
                            <form id="packageForm" onsubmit="return false">
                                <div class="p-4">
                                    <div class="row">
                                       <div class="col-md-6">
                                           <label for="selectSupplierName"
                                                  class="form-label ">Supplier
                                               Name</label>
                                           <select name="" id="selectSupplierName"
                                                   class="form-select"
                                                   required></select>
                                       </div>
                                        <div class="col-md-6">
                                            <label for="selectVehicleNo"
                                                   class="form-label ">Vehicle No
                                                </label>
                                            <select name="" id="selectVehicleNo"
                                                    class="form-select"
                                                    required onchange="loadSupplierBookingListTable()">
                                                <option value=" " selected disabled>Select Vehicle</option>
                                            </select>
                                        </div>

                                        <!--load payment table-->
                                        <div class="col-md-12 mt-4">
                                            <div class="table-responsive">
                                                <div style="height: 300px; overflow-y: auto;">
                                                <table class="table table-hover " id="supplierPaymentBookingTable" style="position: sticky">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Booking No</th>
                                                        <th>Vehicle No</th>
                                                        <th>Distance</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="supplierPaymentBookingTableBody" style="overflow-y: auto">

                                                    </tbody>
                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!--load payment table-->

                                        <hr class="mt-3 mb-3">
                                       <!--supplier payment total amount-->
                                        <div class="col-md-4 mb-3">
                                            <label for="textSupplierTotalAmount" class="form-label">Total Amount</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">RS.</span>
                                                <input type="text" readonly id="textSupplierTotalAmount" class="form-control" placeholder="Total Amount">
                                            </div>
                                        </div>
                                        <!--supplier payment total amount-->

                                        <!--supplier payment due amount-->
                                        <div class="col-md-4 mb-3">
                                            <label for="textSupplierDueAmount" class="form-label">Due Amount </label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">RS.</span>
                                                <input type="text" readonly id="textSupplierDueAmount" class="form-control" placeholder="Due Amount">
                                            </div>
                                        </div>
                                        <!--supplier payment due amount-->

                                        <!--supplier payment balance amount-->
                                        <div class="col-md-4 mb-3">
                                            <label for="textSupplierBalanceAmount" class="form-label">Balance Amount </label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">RS.</span>
                                                <input type="text" readonly id="textSupplierBalanceAmount" class="form-control" placeholder="Balance Amount">
                                            </div>
                                        </div>
                                        <!--supplier payment balance amount-->

                                       <!--supplier  paid amount -->
                                        <div class="col-md-6">
                                            <label for="textSupplierPaidAmount" class="form-label">Paid Amount </label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">RS.</span>
                                                <input type="text" id="textSupplierPaidAmount" class="form-control" placeholder="Paid Amount"
                                                       oninput="convertNoWithTwoDecimals(this)"
                                                       onblur="convertToCurrencyFormat(this)"
                                                       onfocus="assignValueToWithOutCurrencyFormat(this)"
                                                       onkeyup="validator(this,'^(([1-9][0-9]{0,9})|([1-9][0-9]{0,9}[.][0-9]{2}))$','supplierPayment','paid_amount'),calculateBalance(this)">
                                            </div>
                                        </div>
                                        <!--supplier  paid amount -->

                                        <!-- buttons -->
                                        <div class="mb-4">
                                            <div class="row mt-3">
                                                <div class="col-6">
                                                </div>
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-4"></div>
                                                        <div class="col-4 text-start">
                                                            <button type="button" id="deleteButtonFrom"
                                                                    class="btn-3d btn-3d-cancel" onclick="refreshCustomerPaymentForm()">
                                                                <i class="fa-solid fa-xmark me-3"></i>
                                                                Cancel</button>
                                                        </div>
                                                        <div class="col-4 text-start">
                                                            <button type="submit" id="submitButton" class="btn-3d btn-3d-submit"
                                                                    onclick="supplierPaymentFormSubmit()">
                                                                <i class="fa-solid fa-check me-3"></i>
                                                                Submit</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- buttons -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form Area -->

            <!-- Form Area -->
            <div class="modal fade" id="supplierPaymentviewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Supplier Payments</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    onclick="refreshSupplierPaymentForm()"></button>
                        </div>
                        <div class="modal-body">

                        </div>
                    </div>
                </div>
            </div>
            <!-- Form Area -->
        </div>
    </div>
    <div th:replace="fragments/loading :: overlayFragment"></div>
    </div>
    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <script src="js/supplierPayment.js"></script>
    <script src="js/sidebar.js"></script>


</body>

</html>