<html lang="en">


<head th:replace="fragments/head :: headFragment"></head>

<head>
    <link rel="stylesheet" href="css/supplier.css">
</head>

<body>

    <!-- sidebar -->
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>


    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>
        <div class="container-fluid">


            <!-- Title  and add button-->
            <div class="row align-items-center justify-content-between mb-2">
                <div class="col-auto">
                    <button class="btn-3d btn-3d-add" type="button" data-bs-toggle="modal" id="addButton"
                            data-bs-target="#supplierForm" aria-controls="staticBackdrop"><i
                            class="fa-solid fa-plus me-3"></i>
                        Add Supplier
                    </button>
                </div>
                <div class="col-auto">

                </div>
            </div>


            <!-- search area -->
            <div class="main-card mb-3">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <label for="" class="form-label">Name</label>
                                <input type="text" name="" id="" placeholder="Search Name" class="form-control">
                            </div>
                            <div class="col-4">
                                <label for="" class="form-label">Nic</label>
                                <input type="text" name="" id="" placeholder="Search Nic" class="form-control">
                            </div>
                            <div class="col-4">
                                <label for="" class="form-label">Status</label>
                                <select name="" id="" class="form-select">
                                    <option value="">Select Status</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 mt-3 d-flex justify-content-center align-items-center gap-3">
                        <button class="btn-3d btn-3d-submit mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Search"><i class="fas fa-search me-3"></i> Search</button>
                        <button class="btn-3d btn-3d-cancel mt-3" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Reset"><i class="fa-solid fa-rotate-right me-3"></i>Reset</button>
                    </div>
                </div>
            </div>


            <!-- Main Table Card -->
            <div class="main-card">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-individual-tab" data-bs-toggle="tab" data-bs-target="#nav-individual" type="button" role="tab" aria-controls="nav-individual" aria-selected="true">Individual</button>
                        <button class="nav-link" id="nav-company-tab" data-bs-toggle="tab" data-bs-target="#nav-company" type="button" role="tab" aria-controls="nav-company" aria-selected="false">Company</button>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-individual" role="tabpanel" aria-labelledby="nav-individual-tab" tabindex="0">
                        <!-- Table Area -->
                        <div class="table-responsive">
                            <table class="table" id="supplierTable">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Owner Name</th>
                                    <th>Driving License No</th>
                                    <th>Nic</th>
                                    <th>Email</th>
                                    <th>Mobile No</th>
                                    <th>Driving Status</th>
                                    <th>Status</th>
                                    <th style="display: none"></th>
                                </tr>
                                </thead>
                                <tbody id="supplierTableBody">

                                </tbody>
                            </table>

                        </div>
                        <!-- Table Area End -->
                    </div>
                    <div class="tab-pane fade" id="nav-company" role="tabpanel" aria-labelledby="nav-company-tab" tabindex="0">
                        <!-- Table Area -->
                        <div class="table-responsive">
                            <table class="table" id="supplierTableCompany">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Company Name</th>
                                    <th>Company Registration No</th>
                                    <th>Email</th>
                                    <th>Mobile No</th>
                                    <th>Status</th>
                                    <th style="display: none"></th>
                                </tr>
                                </thead>
                                <tbody id="supplierTableBodyCompany">

                                </tbody>
                            </table>

                        </div>
                        <!-- Table Area End -->
                    </div>
                </div>
            </div>
            <!-- Main Table Card End -->


            <!-- form Modal -->
            <div class="modal fade " id="supplierForm" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Supplier Registration</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="refreshSupplierForm()"></button>
                        </div>
                        <div class="modal-body">
                            <form id="supplierRegistrationForm" onsubmit="return false;">
                                <div class="row">
                                    <div class="profile-section">
                                        <div class="p-4">
<!--                                            category-->
                                            <div class="mb-4">
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textSupplierCategory" class="form-label">Category
                                                            <span class="text-danger">*</span></label>
                                                        <select class="form-select" id="textSupplierCategory"
                                                            onchange="selectElementValidator(this,'supplier','category_type')"
                                                            required>
                                                            <option selected disabled>Select Category</option>
                                                            <option value="Company">Company</option>
                                                            <option value="Individual">Individual</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Supplier Details -->
                                            <div class="mb-4" id="individualSupplierDetails" style="display: none;">
                                                <h4 class="section-title">Personal Information</h4>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textSupplierFullName" class="form-label"> Full
                                                            Name
                                                            <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control"
                                                            id="textSupplierFullName" placeholder="Enter Full Name"
                                                            required>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label ">
                                                            Calling
                                                            Name
                                                            <span class="text-danger">*</span></label>
                                                        <div id="divParentRadio">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mb-3">
                                                        <label for="textSupplierAddress" class="form-label ">Address
                                                            <span class="text-danger">*</span></label>
                                                        <textarea name="" id="textSupplierAddress" class="form-control"
                                                            placeholder="Enter Address"
                                                            onkeyup="validator(this,'^([A-Za-z0-9/]{0,20}[\\s])+([A-Za-z0-9]{2,20})$','supplier','address')"></textarea>
                                                    </div>
                                                    <div class="col-md-12 mb-3 mt-3">
                                                        <div class="row">
                                                                    <div class="col-md-3 mb-3">
                                                                        <p class="form-label">Is the supplier also a driver? <span class="text-danger">*</span></p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div id="drivingStatus">
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="checkbox"
                                                                                       id="drivingStatusChkbox" checked onchange="
                                                                    if (this.checked) {
                                                                        supplier.driving_status = true;
                                                                        labelDrivingStatus.innerText = 'Yes';
                                                                        drivingLicenseDiv.style.display = '';
                                                                        supplierDrivingLicenseExpireDateDiv.style.display = '';
                                                                    } else {
                                                                        supplier.driving_status = false;
                                                                        labelDrivingStatus.innerText = 'No';
                                                                         drivingLicenseDiv.style.display = 'none';
                                                                        supplierDrivingLicenseExpireDateDiv.style.display = 'none';
                                                                    }">
                                                                                <label class="form-check-label"
                                                                                       for="drivingStatusChkbox"
                                                                                       id="labelDrivingStatus">
                                                                                    Yes</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 mb-3" id="drivingLicenseDiv">
                                                        <label for="textSupplierDrivingLicenseNo"
                                                            class="form-label ">Driving
                                                            License
                                                            No</label>
                                                        <input type="text" id="textSupplierDrivingLicenseNo"
                                                            class="form-control " placeholder="Enter Driving License No"
                                                            onkeyup="validator(this,'^([A-Z][0-9]{7})$','supplier','driving_licence_no')">
                                                    </div>
                                                    <div class="col-md-6 mb-3" id="supplierDrivingLicenseExpireDateDiv">
                                                        <label for="textSupplierDrivingLicenseExpireDate"
                                                            class="form-label">Driving
                                                            License Expire Date</label>
                                                        <input type="date" id="textSupplierDrivingLicenseExpireDate"
                                                            class="form-control"
                                                            onchange="dateElementValidator(this,'supplier','driving_licencen_expiredate')">
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="textSupplierNic" class="form-label">Nic<span
                                                                class="text-danger">*</span></label>
                                                        <input type="text" id="textSupplierNic" class="form-control "
                                                               placeholder="Enter NIC Number"
                                                               onkeyup="validator(this,'^([6789][0-9]{8}[Vv])|([12][0-9]{11})$','supplier','nic')"
                                                               required>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="textSupplierEmail" class="form-label"> Email
                                                            <span class="text-danger">*</span></label>
                                                        <input type="email" class="form-control " id="textSupplierEmail"
                                                            placeholder="Enter Email"
                                                            onkeyup="validator(this,'^([A-Za-z0-9]{0,20})[@]([a-z]{3,8})[.]([a-z]{2,9})$','supplier','email')"
                                                            required>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="textSupplierMobileNo" class="form-label">Mobile
                                                            No <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control "
                                                            id="textSupplierMobileNo" placeholder="Enter Mobile Number"
                                                            onkeyup="validator(this,'^([0][7][01245678][0-9]{7})$','supplier','mobileno')"
                                                            required>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--company deatisl-->
                                            <div id="companyDetails" class="mb-4" style="display: none;">
                                                <h4 class="section-title">Company Details</h4>
<!--                                                compnay name and reg no-->
                                                <div class="row mt-3" >
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textSupplierCompanyName"
                                                               class="form-label">Company
                                                            Name
                                                            <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control"
                                                               id="textSupplierCompanyName"
                                                               placeholder="Enter Company Name"
                                                               onkeyup="validator(this,'^([A-Z][a-z]{1,20}[\\s])+([A-Z][a-z]{2,20})$','supplier','company_name')"
                                                               required>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textSupplierCompanyRegNo"
                                                               class="form-label">Company
                                                            Reg No<span class="text-danger">*</span></label>
                                                        <input type="text" id="textSupplierCompanyRegNo"
                                                               class="form-control "
                                                               placeholder="Enter Company Reg No"
                                                               onkeyup="validator(this,'^([0-9]{8})$','supplier','company_reg_no')"
                                                               required>
                                                    </div>
                                                </div>
<!--                                                address-->
                                                <div class="row mt-3">
                                                    <div class="col-md-12 mb-3">
                                                        <label for="textSupplierCompanyAddress"
                                                               class="form-label ">Company
                                                            Address
                                                            <span class="text-danger">*</span></label>
                                                        <textarea name="" id="textSupplierCompanyAddress"
                                                                  class="form-control"
                                                                  placeholder="Enter Company Address"
                                                                  onkeyup="validator(this,'^([A-Za-z0-9/]{0,20}[\\s])+([A-Za-z0-9]{2,20})$','supplier','company_address')"
                                                                  required></textarea>
                                                    </div>
                                                </div>
<!--                                                company email and telephone no-->
                                                <div class="row mt-3">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textSupplierCompanyEmail"
                                                               class="form-label">Company
                                                            Email
                                                            <span class="text-danger">*</span></label>
                                                        <input type="email" class="form-control "
                                                               id="textSupplierCompanyEmail"
                                                               placeholder="Enter Company Email"
                                                               onkeyup="validator(this,'^([A-Za-z0-9]{0,20})[@]([a-z]{3,8})[.]([a-z]{2,9})$','supplier','company_email')"
                                                               required>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textSupplierCompanyContactNo"
                                                               class="form-label">Company
                                                            Contact No <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control "
                                                               id="textSupplierCompanyContactNo"
                                                               placeholder="Enter Company Contact Number"
                                                               onkeyup="validator(this,'^([0][7][01245678][0-9]{7})$','supplier','company_contact_no')"
                                                               required>
                                                    </div>
                                            </div>
<!--                                                contact person details-->
                                                <div class="row mt-3 mb-3">
                                                    <div class="col-md-4 mb-3">
                                                        <label for="textSupplierContactPersonName"
                                                               class="form-label">Contact
                                                            Person Name
                                                            <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control"
                                                               id="textSupplierContactPersonName"
                                                               placeholder="Enter Contact Person Name"
                                                               onkeyup="validator(this,'^([A-Z][a-z]{1,20}[\\s])+([A-Z][a-z]{2,20})$','supplier','company_contact_person')"
                                                               required>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="textSupplierContactPersonMobileNo"
                                                               class="form-label">Contact
                                                            Person Mobile No <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control "
                                                               id="textSupplierContactPersonMobileNo"
                                                               placeholder="Enter Contact Person Mobile Number"
                                                               onkeyup="validator(this,'^([0][7][01245678][0-9]{7})$','supplier','company_contact_person_mobileno')"
                                                               required>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="textSupplierContactPersonEmail"
                                                               class="form-label">Contact
                                                            Person Email
                                                            <span class="text-danger">*</span></label>
                                                        <input type="email" class="form-control "
                                                               id="textSupplierContactPersonEmail"
                                                               placeholder="Enter Contact Person Email"
                                                               onkeyup="validator(this,'^([A-Za-z0-9]{0,20})[@]([a-z]{3,8})[.]([a-z]{2,9})$','supplier','company_contact_person_email')"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Bank Deatisl -->
                                            <div class="mb-4">
                                                <h4 class="section-title">Bank Information</h4>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textSupplierAccountHolderName"
                                                            class="form-label">Account Name
                                                            <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control"
                                                            id="textSupplierAccountHolderName"
                                                            placeholder="Enter Account Holder Name"
                                                            onkeyup="validator(this,'^^([A-Z][a-z]{1,20}[\\s])+([A-Z][a-z]{2,20})$$','supplier','account_holder_name')"
                                                            required>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textSupplierBankName" class="form-label">Bank
                                                            Name <span class="text-danger">*</span></label>
                                                        <select class="form-select" id="textSupplierBankName"
                                                            onchange="selectElementValidator(this,'supplier','bank_name')"
                                                            required>
                                                            <option selected disabled>Select Bank Name</option>
                                                            <option value="People's Bank">People's Bank</option>
                                                            <option value="Bank Of Ceylon">Bank Of Ceylon</option>
                                                            <option value="NSB Bank">NSB Bank</option>
                                                            <option value="Commercial Bank">Commercial Bank</option>
                                                            <option value="HNB Bank">HNB Bank</option>
                                                            <option value="DFCC Bank">DFCC Bank</option>
                                                            <option value="Sampath Bank">Sampath Bank</option>
                                                            <option value="Seylan Bank">Seylan Bank</option>
                                                            <option value="Amana Bank">Amana Bank</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textSupplierBranchName" class="form-label">
                                                            Branch
                                                            Name<span class="text-danger">*</span></label>
                                                        <input type="text" name="" id="textSupplierBranchName"
                                                            class="form-control" placeholder="Enter Branch Name"
                                                            onkeyup="validator(this,'^([A-za-z]{3,15})$','supplier','branch_name')"
                                                            required>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textSupplierAccountNo" class="form-label">Account No
                                                            <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control"
                                                            id="textSupplierAccountNo" placeholder="Enter Account No"
                                                            onkeyup="validator(this,'^([0-9]{4,20})$','supplier','account_no')"
                                                            required>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Additional Information -->
                                            <div class="mb-4">
                                                <h4 class="section-title">Additional Information</h4>
                                                <div class="row">
                                                    <div class="col-md-12 mb-3">
                                                        <label for="textTransportName" class="form-label">Transport Name
                                                            <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" id="textTransportName"
                                                            placeholder="Enter Transport Name"
                                                            onkeyup="validator(this,'^([A-Z][a-z]{1,20}[\\s])+([A-Z][a-z]{2,20})$','supplier','transportname')"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3" style="display: none" id="textSupplierStatusDiv">
                                                        <label class="form-label">Status<span
                                                                class="text-danger">*</span></label>
                                                        <select id="textSupplierStatus" class="form-select"
                                                            onchange="selectDynamicElementValidator(this,'supplier','supplier_status_id')">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                    </div>

                                                </div>
                                                <!-- buttons -->
                                                <div class="mb-4">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="row">
                                                                <div class="col-4"></div>
                                                                <div class="col-4 text-start">
                                                                    <button type="button" id="deleteButtonFrom"
                                                                        class="btn-3d btn-3d-cancel">
                                                                        <i class="fa-solid fa-xmark me-3"></i>
                                                                        Cancel</button>
                                                                </div>
                                                                <div class="col-4 text-start">
                                                                    <button type="button" class="btn-3d btn-3d-update"
                                                                        id="updateButton"
                                                                        onclick="supplierFormUpdate()">
                                                                        <i class="fa-solid fa-arrows-rotate me-3"></i>
                                                                        Update</button>

                                                                    <button type="submit" id="submitButton"
                                                                        class="btn-3d btn-3d-submit"
                                                                        onclick="supplierFormSubmit()">
                                                                        <i class="fa-solid fa-check me-3"></i>
                                                                        Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- buttons -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- form modal end -->

        </div>

    </div>
    </div>
    <div th:replace="fragments/loading :: overlayFragment"></div>

    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <script src="js/supplier.js"></script>
    <script src="js/sidebar.js"></script>
</body>

</html>