<html lang="en">

<head th:replace="fragments/head :: headFragment"></head>

<head>
    <link rel="stylesheet" href="css/vehicle.css">
</head>

<body>
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>

    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>

        <div class="container-fluid">
            <!-- head area  -->
            <div class="row align-items-center justify-content-between mb-2">
                <div class="col-auto">
                    <button class="btn-3d btn-3d-add" type="button" data-bs-toggle="modal" id="addButton"
                            data-bs-target="#vehicleFormModal" aria-controls="staticBackdrop"><i
                            class="fa-solid fa-plus me-3"></i>
                        Add Vehicle
                    </button>
                </div>
                <div class="col-auto">

                </div>
            </div>
            <!-- head area  -->


            <!-- serarch area -->
            <div class="main-card mb-3">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                            </div>
                            <div class="col-4">
                                <label for="searchVehicleType" class="form-label">Vehicle Type</label>
                                <select  id="searchVehicleType" class="form-select">
                                    <option value="">Select Vehicle Type</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="searchVehicleStatus" class="form-label">Status</label>
                                <select id="searchVehicleStatus" class="form-select">
                                    <option value="">Select Status</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mt-3 d-flex justify-content-center align-items-center gap-3">
                        <button class="btn-3d btn-3d-submit mt-3"  onclick="searchVehicle()"><i class="fas fa-search me-2"></i> Search</button>
                        <button class="btn-3d btn-3d-cancel mt-3"  onclick="refreshVehicleForm()"><i class="fa-solid fa-rotate-right me-2"></i>Reset</button>
                    </div>
                </div>
            </div>
            <!-- search area end -->


            <!-- Table Area -->
            <div class="main-card">
                <div class="table-responsive">
                    <table class="table" id="vehicleTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Photo</th>
                                <th>Supplier Details</th>
                                <th>Vehicle Details</th>
                                <th>Make</th>
                                <th>Model</th>
                                <th>Status</th>
                                <th style="display:none"></th>
                            </tr>
                        </thead>
                        <tbody id="vehicleTableBody">

                        </tbody>
                    </table>
                    <div class="loader-table" id="loaderId" style="display: none">
                        <div class="spinner-table">
                            <div class="spinner-outer-circle-table"></div>
                            <div class="spinner-inner-circle-table"></div>
                            <div class="spinner-middle-circle-table"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table Area End -->

            <!-- Modal -->
            <div class="modal fade" id="vehicleFormModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Vehicle Registration</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                ></button>
                        </div>
                        <div class="modal-body">
                            <form id="vehicleRegistrationForm" onsubmit="return false">
                                <div class="row">
                                    <div class="profile-section">
                                        <div class="p-4">

                                            <!-- Transport Details -->
                                            <div class="mb-4">
                                                <h4 class="section-title">Transport Information</h4>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textVehicleTransportName"
                                                            class="form-label ">Transport
                                                            Name</label>
                                                        <select name="" id="textVehicleTransportName"
                                                            class="form-select"
                                                            onchange="selectDynamicElementValidator(this,'vehicle','supplier_id')"
                                                            required></select>
                                                        <div class="valid-feedback">
                                                            Looks Good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please choose a Transport Name!
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 mb-3">
                                                        <div class="form-group">
                                                            <label class="form-label">Vehicle Photo :</label>
                                                            <div class="photo-upload-container"
                                                                id="uploadContainerVehiclePhoto">
                                                                <input
                                                                    onchange="fileValidator(this,'vehicle','vehicle_photo',previewImageVehicle,photoPreviewVehicle,uploadContainerVehiclePhoto)"
                                                                    type="file" id="filePhotoVehicle" name="photo"
                                                                    accept="image/*">
                                                                <button type="button" class="upload-button mb-4"
                                                                    onclick="filePhotoVehicle.click()">
                                                                    Choose Photo
                                                                </button>

                                                                <div class="file-info">Supported formats: JPG, PNG</div>
                                                            </div>

                                                            <div class="photo-preview" id="photoPreviewVehicle">
                                                                <img id="previewImageVehicle" src="" alt="Preview">
                                                                <br>
                                                                <button type="button" class="remove-photo"
                                                                        onclick="removePhoto(photoPreviewVehicle,previewImageVehicle,uploadContainerVehiclePhoto)">Remove Photo</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Vehicle Details -->
                                            <div class="mb-4">
                                                <h4 class="section-title">Vehicle Information</h4>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textVehicleNo" class="form-label">Vehicle No<span
                                                                class="text-danger">*</span></label>
                                                        <input type="text" class="form-control " id="textVehicleNo"
                                                            placeholder="Enter Vehicle No"
                                                            onkeyup="validator(this,'^[A-Za-z]{2}[-][A-Za-z]{2,3}[-][0-9]{4}$','vehicle','vehicle_no')"
                                                            required>
                                                        <div id="vehicleNoHelp" class="form-text">Ex:- WP-BAD-4853  /  WP-PA-4875</div>
                                                        <div class="valid-feedback">
                                                            Looks Good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please Enter valid Vehicle No!
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="selectVehicleType" class="form-label">Vehicle
                                                            Type<span class="text-danger">*</span></label>
                                                        <select type="text" class="form-select" id="selectVehicleType"
                                                            placeholder="Enter Vehicle type"
                                                            onchange="selectDynamicElementValidator(this,'vehicle','vehicle_type_id')"
                                                            required>
                                                        </select>
                                                        <div class="valid-feedback">
                                                            Looks Good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please choose a Vehicle Type!
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="selectVehicleMake" class="form-label">Make<span
                                                                class="text-danger">*</span></label>
                                                        <select type="text" class="form-select" id="selectVehicleMake"
                                                            placeholder="Enter Vehicle type"
                                                            onchange="selectDynamicElementValidator(this,'vehicle','vehicle_make_id')"
                                                            required> </select>
                                                        <div class="valid-feedback">
                                                            Looks Good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please choose a Make!
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="textVehicleModel" class="form-label">Model<span
                                                                class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" id="textVehicleModel"
                                                            placeholder="Enter Vehicle Model"
                                                            onkeyup="validator(this,'^[A-Za-z0-9]+(?:[\\s\\-\\.\\/][A-Za-z0-9]+)*$','vehicle','model')"
                                                            required>
                                                        <div class="valid-feedback">
                                                            Looks Good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please Enter Valid Model !
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="textVehicleYear" class="form-label">Make Year<span
                                                                class="text-danger">*</span></label>
                                                        <input type="date" class="form-control" id="textVehicleYear"
                                                            placeholder="Enter Vehicle Year"
                                                            onchange="dateElementValidator(this,'vehicle','make_year')"
                                                            required>
                                                        <div class="valid-feedback">
                                                            Looks Good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please Enter Valid Make Year !
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textVehicleInsuranceExpireDate"
                                                            class="form-label ">Insurance
                                                            Expire Date<span class="text-danger">*</span></label>
                                                        <input type="date" class="form-control "
                                                            id="textVehicleInsuranceExpireDate"
                                                            onchange="dateElementValidator(this,'vehicle','insurance_expire_date')"
                                                            required>
                                                        <div class="valid-feedback">
                                                            Looks Good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please Enter Valid Expire Date !
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textVehicleRevenuLicenseExpireDate"
                                                            class="form-label">Revenu
                                                            License Expire Date<span
                                                                class="text-danger">*</span></label>
                                                        <input type="date" class="form-control"
                                                            id="textVehicleRevenuLicenseExpireDate"
                                                            onchange="dateElementValidator(this,'vehicle','revenu_license_expire_date')"
                                                            required>
                                                        <div class="valid-feedback">
                                                            Looks Good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please Enter Valid Expire Date !
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textVehicleStartMeterReading"
                                                            class="form-label">Start
                                                            Meter
                                                            Reading<span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control"
                                                            id="textVehicleStartMeterReading"
                                                            placeholder="Enter Start Meter Reading"
                                                            onkeyup="validator(this,'^[0-9]{1,30}$','vehicle','startup_meter_reading')">
                                                        <div class="valid-feedback">
                                                            Looks Good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please Enter Valid Start Meter Reading !
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="textVehicleCurrentMeterReading"
                                                            class="form-label">Current
                                                            Meter Reading</label>
                                                        <input type="text" class="form-control"
                                                            id="textVehicleCurrentMeterReading" placeholder=""
                                                            onkeyup="validator(this,'^[0-9]{1,30}$','vehicle','current_meter_reading')">
                                                        <div class="valid-feedback">
                                                            Looks Good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please Enter Valid Meter Reading !
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row mt-3"></div>
                                                        <label for="" class="form-label">Vehicle Category :</label>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="inlineRadioOptions" id="radioOwnVehicle"
                                                                value="Own" onchange="vehicle.category =this.value">
                                                            <label class="form-check-label" for="radioOwnVehicle">Own
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="inlineRadioOptions" id="radioNonOwnVehicle"
                                                                value="Non Own" onchange="vehicle.category =this.value">
                                                            <label class="form-check-label" for="radioNonOwnVehicle">Non
                                                                own</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--                                            document deatils-->
                                            <div class="mb-4">
                                                <h4 class="section-title">Documents</h4>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <div class="form-group">
                                                            <label class="form-label">CR :</label>
                                                            <div class="photo-upload-container" id="uploadContainerCr">
                                                                <input
                                                                    onchange="fileValidator(this,'vehicle','cr_photo',previewImageCr,photoPreviewCr,uploadContainerCr)"
                                                                    type="file" id="filePhotoCr" name="photo"
                                                                    accept="image/*">
                                                                <button type="button" class="upload-button mb-4"
                                                                    onclick="filePhotoCr.click()">
                                                                    Choose Photo
                                                                </button>

                                                                <div class="file-info">Supported formats: JPG, PNG</div>
                                                            </div>

                                                            <div class="photo-preview" id="photoPreviewCr">
                                                                <img id="previewImageCr" src="" alt="Preview">
                                                                <br>
                                                                <button type="button" class="remove-photo"
                                                                        onclick="removePhoto(photoPreviewCr,previewImageCr,uploadContainerCr)">Remove Photo</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <div class="form-group">
                                                            <label class="form-label">Revenue License :</label>
                                                            <div class="photo-upload-container" id="uploadContainerRl">
                                                                <input
                                                                    onchange="fileValidator(this,'vehicle','revenue_license_photo',previewImageRl,photoPreviewRl,uploadContainerRl)"
                                                                    type="file" id="filePhotoRl" name="photo"
                                                                    accept="image/*">
                                                                <button type="button" class="upload-button mb-4"
                                                                    onclick="filePhotoRl.click()">
                                                                    Choose Photo
                                                                </button>

                                                                <div class="file-info">Supported formats: JPG, PNG</div>
                                                            </div>

                                                            <div class="photo-preview" id="photoPreviewRl">
                                                                <img id="previewImageRl" src="" alt="Preview">
                                                                <br>
                                                                <button type="button" class="remove-photo"
                                                                        onclick="removePhoto(photoPreviewRl,previewImageRl,uploadContainerRl)">Remove Photo</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <div class="form-group">
                                                            <label class="form-label">Insurance Card :</label>
                                                            <div class="photo-upload-container"
                                                                id="uploadContainerInsuranceCard">
                                                                <input
                                                                    onchange="fileValidator(this,'vehicle','insurance_card_photo',previewImageInsuranceCard,photoPreviewInsuranceCard,uploadContainerInsuranceCard)"
                                                                    type="file" id="filePhotoInsuranceCard" name="photo"
                                                                    accept="image/*">
                                                                <button type="button" class="upload-button mb-4"
                                                                    onclick="filePhotoInsuranceCard.click()">
                                                                    Choose Photo
                                                                </button>

                                                                <div class="file-info">Supported formats: JPG, PNG</div>
                                                            </div>

                                                            <div class="photo-preview" id="photoPreviewInsuranceCard">
                                                                <img id="previewImageInsuranceCard" src=""
                                                                    alt="Preview">
                                                                <br>
                                                                <button type="button" class="remove-photo"
                                                                        onclick="removePhoto(photoPreviewInsuranceCard,previewImageInsuranceCard,uploadContainerInsuranceCard)">Remove Photo</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <div class="form-group">
                                                            <label class="form-label">Inspection Report :</label>
                                                            <div class="photo-upload-container"
                                                                id="uploadContainerInspectionReport">
                                                                <input
                                                                    onchange="fileValidator(this,'vehicle','inspection_report_photo',previewImageInspectionReport,photoPreviewInspectionReport,uploadContainerInspectionReport)"
                                                                    type="file" id="filePhotoInspectionReport"
                                                                    name="photo" accept="image/*">
                                                                <button type="button" class="upload-button mb-4"
                                                                    onclick="filePhotoInspectionReport.click()">
                                                                    Choose Photo
                                                                </button>

                                                                <div class="file-info">Supported formats: JPG, PNG</div>
                                                            </div>

                                                            <div class="photo-preview"
                                                                id="photoPreviewInspectionReport">
                                                                <img id="previewImageInspectionReport" src=""
                                                                    alt="Preview">
                                                                <br>
                                                                <button type="button" class="remove-photo"
                                                                        onclick="removePhoto(photoPreviewInspectionReport,previewImageInspectionReport,uploadContainerInspectionReport)">Remove Photo</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- The Modal for image eka view karanna -->
                                                <div id="myModal" class="modal1">
                                                    <span class="close">&times;</span>
                                                    <img class="modal1-content" id="img01">
                                                </div>
                                            </div>

                                            <!-- Additional Information -->
                                            <div class="mb-4" id="additionalInformationSection" style="display: none;">
                                                <h4 class="section-title">Additional Information</h4>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label">Status</label>
                                                        <select id="textVehicleStatus" class="form-select"
                                                            onchange="selectDynamicElementValidator(this,'vehicle','vehicle_status_id')">
                                                        </select>
                                                        <div class="valid-feedback">
                                                            Looks Good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please Choose a Status !
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- buttons -->
                                            <div class="mb-4">
                                                <div class="row">
                                                    <div class="col-6">
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-4"></div>
                                                            <div class="col-4 ">
                                                                <button type="button" id="deleteButtonFrom"
                                                                    class="btn-3d btn-3d-cancel text-end"
                                                                    onclick="refreshVehicleForm()">
                                                                    <i class="fa-solid fa-xmark me-3"></i>
                                                                    Cancel</button>
                                                            </div>
                                                            <div class="col-4 text-end">
                                                                <button type="button"
                                                                    class="btn-3d btn-3d-update text-end"
                                                                    id="updateButton" onclick="vehicleFormUpdate()">
                                                                    <i class="fa-solid fa-arrows-rotate me-3"></i>
                                                                    Update</button>

                                                                <button type="submit" id="submitButton"
                                                                    class="btn-3d btn-3d-submit text-end"
                                                                    onclick="vehicleFormSubmit()">
                                                                    <i class="fa-solid fa-check me-3"></i>
                                                                    Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- buttons -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal End -->

        </div>
    </div>
    <div th:replace="fragments/loading :: overlayFragment"></div>
    </div>
    <!--    image eka uda click karama view wela penawa-->
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var previewImageCr = document.getElementById("previewImageCr");
        var previewImageRl = document.getElementById("previewImageRl");
        var previewImageInsuranceCard = document.getElementById("previewImageInsuranceCard");
        var previewImageInspectionReport = document.getElementById("previewImageInspectionReport");
        var modalImg = document.getElementById("img01");
        previewImageCr.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
        }
        previewImageRl.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
        }
        previewImageInsuranceCard.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
        }
        previewImageInspectionReport.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <script src="js/vehicle.js"></script>
    <script src="js/sidebar.js"></script>
</body>

</html>