<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/head :: headFragment"></head>

<head>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="chart/chart.min.js"></script>
</head>

<body>
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>


    <div class="main-content">
        <div th:replace="fragments/topbar :: topbarFragment"></div>
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between mb-2">
                <div class="col-md-6 d-flex justify-content-start">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/vehicle" style="text-decoration: none"> <button class="btn-3d btn-3d-add"
                                    type="button" data-bs-toggle="modal" data-bs-target="#vehicleFormModal"
                                    aria-controls="staticBackdrop"><i class="fa-solid fa-plus me-3"></i>
                                    Vehicle
                                </button></a>
                        </div>
                        <div class="col-md-6">
                            <a href="/vehiclegroup" style="text-decoration: none"> <button class="btn-3d btn-3d-add" type="button" data-bs-toggle="modal" data-bs-target="#vehicleFormModal" aria-controls="staticBackdrop"><i class="fa-solid fa-plus me-3"></i>
                                 Groups
                            </button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>

            <!-- Stats Grid -->
            <div class="stats-grid mt-4">

                <div class="stat-card priority">
                    <div class="stat-header">
                        <div class="stat-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.22.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="stat-number" id="totalVehicle">24</div>
                    <div class="stat-label">Total Vehicles</div>
                </div>

                <div class="stat-card">
                    <div class="stat-header">
                        <div class="stat-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#cc1b1b">
                                <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.22.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="stat-number"  id="totalActiveVehicle">7</div>
                    <div class="stat-label">Active Vehicles</div>

                </div>

                <div class="stat-card">
                    <div class="stat-header">
                        <div class="stat-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#cc1b1b">
                                <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.22.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="stat-number" id="totalRevenueLicenseExpireVehicle">11</div>
                    <div class="stat-label">Revenue License Expired Vehicles</div>

                </div>

                <div class="stat-card">
                    <div class="stat-header">
                        <div class="stat-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="#cc1b1b">
                                <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.22.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="stat-number" id="totalInsuranceExpireVehicle">25</div>
                    <div class="stat-label">Insurance Expired Vehicles</div>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <div class="main-card">
                        <div class="card-header" style="border-left: 3px solid #66bb6a;">
                            <h5>Total Vehicles</h5>
                        </div>
                        <canvas id="myChart"></canvas>
                    </div>

                </div>
            </div>

            <!--    Insurance Expired vehicle list and Revenue Licenese Expired Vehicles-->
            <div class="row mt-3">
                <div class="col-6">
                    <div class="main-card">
                        <div class="card-header" style="border-left: 3px solid #66bb6a;">
                            <h5>Revenue License Expire Vehicle List</h5>
                        </div>
                        <!-- Table Area -->
                        <div class="table-responsive">
                            <table class="table table-hover" id="revenueLicenseExpireVehicleTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Supplier Name</th>
                                        <th>Vehicle No</th>
                                        <th>Vehicle Type</th>
                                        <th>Expire Date</th>
                                    </tr>
                                </thead>
                                <tbody id="revenueLicenseExpireVehicleTableBody">
                                    <tr>
                                        <td>1</td>
                                        <td>Nuwan Transport</td>
                                        <td>WP-LG-2719</td>
                                        <td>18.5ft</td>
                                        <td>2021-03-24</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Samith Transport</td>
                                        <td>WP-LG-2719</td>
                                        <td>18.5ft</td>
                                        <td>2021-03-24</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Deshan Transport</td>
                                        <td>WP-LG-2719</td>
                                        <td>18.5ft</td>
                                        <td>2021-03-24</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Kaveen Transport</td>
                                        <td>WP-LG-2719</td>
                                        <td>18.5ft</td>
                                        <td>2021-03-24</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Amith Transport</td>
                                        <td>WP-LG-2719</td>
                                        <td>18.5ft</td>
                                        <td>2021-03-24</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- Table Area End -->
                    </div>
                </div>
                <!-- google map -->
                <div class="col-6">
                    <div class="main-card">
                        <div class="card-header" style="border-left: 3px solid #66bb6a;">
                            <h5>Insurance Expire Vehicle List</h5>
                        </div>
                        <!-- Table Area -->
                        <div class="table-responsive">
                            <table class="table table-hover" id="insuranceExpireVehicleTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Supplier Name</th>
                                        <th>Vehicle No</th>
                                        <th>Vehicle Type</th>
                                        <th>Expire Date</th>
                                    </tr>
                                </thead>
                                <tbody id="insuranceExpireVehicleTableBody">
                                    <td>1</td>
                                    <td>Nuwan Transport</td>
                                    <td>WP-LG-2719</td>
                                    <td>18.5ft</td>
                                    <td>2021-03-24</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Samith Transport</td>
                                        <td>WP-LG-2719</td>
                                        <td>18.5ft</td>
                                        <td>2021-03-24</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Deshan Transport</td>
                                        <td>WP-LG-2719</td>
                                        <td>18.5ft</td>
                                        <td>2021-03-24</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Kaveen Transport</td>
                                        <td>WP-LG-2719</td>
                                        <td>18.5ft</td>
                                        <td>2021-03-24</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Amith Transport</td>
                                        <td>WP-LG-2719</td>
                                        <td>18.5ft</td>
                                        <td>2021-03-24</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- Table Area End -->
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-5">

                </div>
                <div class="col-7">
                    <div class="main-card">
                        <div class="card-header" style="border-left: 3px solid #66bb6a;">
                            <h5>Vehicle Avalability</h5>
                            <p>Avalability of the Current Day</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <div th:replace="fragments/loading :: overlayFragment"></div>

    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <script src="js/vehicleDashboard.js"></script>
    <script src="js/sidebar.js"></script>

</body>

</html>