<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - 403 Forbidden</title>
  <link rel="stylesheet" href="css/errorpage.css">
    <link rel="stylesheet" href="css/common.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="lock"></div>
<div class="message">
  <h1>Access to this page is restricted</h1>
  <p>Please check with the site admin if you believe this is a mistake.</p>
</div>
<div class="button" style="display: flex; align-items: center; justify-content: center; margin-top: 50px; margin-bottom: 50px;">
    <a href="/dashboard" > <button class="btn btn-2">Go Back to Dashboard</button></a>
</div>
<!-- partial -->
  
</body>
</html>
