<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: headFragment"></head>

<head>
    <link rel="stylesheet" href="css/report.css">
    <link rel="stylesheet" href="css/bookingReport.css">
    <link rel="stylesheet" href="css/reportIncome.css">

</head>

<body>
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>
        <div class="main-content">
            <div th:replace="fragments/topbar :: topbarFragment"></div>

        </div>
    </div>

    <!-- Chart.js -->
    <script src="chart/chart.min.js"></script>
    <!-- Reusable logic -->
    <script src="/commenjs/reusabal.js"></script>
    <script src="/commenjs/commanValidation.js"></script>
    <script src="/commenjs/commonTable.js"></script>
    <!-- Page logic -->
    <script src="js/reportPaymentReconciliation.js"></script>
    <script src="js/sidebar.js"></script>
</body>

</html>