.table th {
    background: #f8f9fd;
    padding: 20px 30px;
    font-weight: 600;
    color: #000;
    font-size: 0.875rem;
    border-bottom: 1px solid #e5e7eb;
}

#statusAttend {
    background-color: #dbeafe;
    color: #1e40af;
}

#statusInprocess {
    background-color: #fee2e2;
    color: #991b1b;
}

#statusArrivedAtPickup {
    background-color: #fef3c7;
    color: #92400e;
}

#statusDepartedFromPickup {
    background-color: #ffedd5;
    color: #9a3412;
}

#statusArrivedAtDelivery {
    background-color: #caffe7;
    color: #065f46;
}

#statusDepartedFromDelivery {
    background-color: #dcfce7;
    color: #166534;;
}
#statusCancelled {
    background-color: #f1f5f9;
    color: #475569;
}

td:last-child {
    position: sticky;
    right: 0;
    background-color: white; /* To hide content scrolling behind */
    z-index: 1;
}
/* Hide only horizontal scrollbar */
#vehicleAssigningTable{
    overflow-y: auto;
    scrollbar-width: none;
}
tbody::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}
table.dataTable thead>tr>th.dt-orderable-asc, table.dataTable thead>tr>th.dt-orderable-desc, table.dataTable thead>tr>th.dt-ordering-asc, table.dataTable thead>tr>th.dt-ordering-desc, table.dataTable thead>tr>td.dt-orderable-asc, table.dataTable thead>tr>td.dt-orderable-desc, table.dataTable thead>tr>td.dt-ordering-asc, table.dataTable thead>tr>td.dt-ordering-desc {
    position: relative;
    text-align: center;
}

.table td {
    padding: 30px 12px;
    white-space: pre;
}

.vehicleno {
    background-color: #e5e7eb;
    color: #4b5563;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 8px;
}
.status-cell {
    font-weight: 500;
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
}
.status-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
}
/* .status-departed {
    background-color: #dcfce7;
    color: #166534;
} */

.status-departed .status-indicator {
    background-color: #22c55e;
}

/* .status-inprocess {
    background-color: #fee2e2;
    color: #991b1b;
} */

.status-inprocess .status-indicator {
    background-color: #ef4444;
}

/* .status-arrived-pickup {
    background-color: #fef3c7;
    color: #92400e;
} */

.status-arrived-pickup .status-indicator {
    background-color: #f59e0b;
}

/* .status-departed-pickup {
    background-color: #ffedd5;
    color: #9a3412;
} */

.status-departed-pickup .status-indicator {
    background-color: #f97316;
}

/* .status-attend {
    background-color: #dbeafe;
    color: #1e40af;
} */

.status-attend .status-indicator {
    background-color: #3b82f6;
}

/* .status-arrived-delivery {
    background-color: #d1fae5;
    color: #065f46;
} */

.status-arrived-delivery .status-indicator {
    background-color: #10b981;
}

/* .status-cancelled {
    background-color: #f1f5f9;
    color: #475569;
} */

.status-cancelled .status-indicator {
    background-color: #64748b;
}

.datetimeColumn{
    font-size: 16px;
    color: #475569;
    background-color: #f1f5f9;
    padding: 6px 10px;
    border-radius: 6px;
    font-weight: 600;

}

.btn-danger {
    background-color: #f44336;
    color: white;
}
